.divider {
  height: 1px;
  width: 1441px;
  position: relative;
  border-top: 1px solid var(--shades-dark-1);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.luminaScreenIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.coreumLogoChild {
  height: 24px;
  width: 20.5px;
  position: relative;
}
.coreumIcon {
  align-self: stretch;
  height: 18px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.coreumLogo,
.sidebarMenu {
  display: flex;
  justify-content: flex-start;
}
.sidebarMenu {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 2.7999999999992724px;
}
.coreumLogo {
  width: 119px;
  flex-direction: row;
  align-items: flex-end;
  gap: 5.7000000000000455px;
}
.discordIcon,
.igIcon,
.telegramIcon,
.xIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.discordIcon {
  overflow: hidden;
  flex-shrink: 0;
}
.youtubeIcon {
  object-fit: cover;
}
.mediumIcon,
.youtubeIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.groupFrame,
.xFrame {
  display: flex;
  align-items: flex-start;
}
.xFrame {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.groupFrame {
  width: 264px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.coreumDevelopmentFoundation {
  position: relative;
  line-height: 15px;
  display: inline-block;
  max-width: 100%;
}
.left {
  width: 716px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-64xl);
  min-width: 716px;
  max-width: 100%;
  z-index: 1;
}
.label,
.label1 {
  position: relative;
  letter-spacing: -0.01em;
}
.label {
  align-self: stretch;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
}
.label1 {
  line-height: 24px;
}
.iconlink {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.label2 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.iconlink1 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.item1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.label3 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.iconlink2 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.item2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.label4 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.iconlink3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.item3,
.tabs {
  align-self: stretch;
  display: flex;
}
.item3 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.tabs {
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--regular-label-size);
  color: var(--primary-dim);
  font-family: var(--regular-label);
}
.bottom,
.resources,
.sitemap,
.tabs {
  align-items: flex-start;
  justify-content: flex-start;
}
.resources {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bottom,
.sitemap {
  align-self: stretch;
}
.bottom {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.sitemap {
  flex-direction: column;
}
.footer1441,
.right,
.sitemap {
  display: flex;
  max-width: 100%;
}
.right {
  width: 484px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 484px;
  z-index: 1;
  font-size: var(--overline-footer-size);
}
.footer1441 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-base);
  min-height: 274px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--shades-carbon);
  font-family: var(--overline-footer);
}
@media screen and (max-width: 1200px) {
  .left,
  .right {
    flex: 1;
  }
  .footer1441 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .left {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .sitemap {
    gap: 24px 48px;
  }
  .right {
    gap: 80px 160px;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .left {
    gap: 41px 83px;
  }
}
