.expandedMenu1,
.tab1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.expandedMenu1 {
  border-left: 1px solid var(--shades-dark-1);
  align-items: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.tab1 {
  align-items: flex-end;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
}
.expandedMenu {
  align-self: stretch;
  border-left: 1px solid var(--shades-dark-1);
  align-items: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.expandedMenu,
.sidebarMenu,
.tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tab {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
}
.sidebarMenu {
  width: 276px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-base) var(--padding-1231xl);
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .sidebarMenu {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-793xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .sidebarMenu {
    padding-bottom: var(--padding-509xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .sidebarMenu {
    padding-bottom: var(--padding-324xl);
    box-sizing: border-box;
  }
}
