.label {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.iconarrow {
  width: 24px;
  position: relative;
  height: 24px;
}
.typedropdownStateexpanded {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--regular-label-size);
  color: var(--shades-light);
  font-family: var(--regular-label);
}
