.p,
.p1,
.p2,
.p3,
.p4,
.p5 {
  margin: 0;
}
.div {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.copy {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
}
.dividerIcon {
  align-self: stretch;
  width: 0;
  position: relative;
  max-height: 100%;
}
.help {
  color: var(--color-mediumseagreen-200);
}
.coredTxStakingHelp {
  margin: 0;
  color: var(--primary-dim);
}
.createValidatorCreateNew {
  margin: 0;
}
.delegate,
.editValidator,
.redelegate,
.unbond {
  margin: 0;
  white-space: pre-wrap;
}
.coredTxStakingContainer {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.card,
.copy1,
.list {
  display: flex;
  justify-content: flex-start;
}
.copy1 {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-base);
  text-align: left;
}
.card,
.list {
  align-self: stretch;
}
.card {
  border-radius: var(--br-xs);
  background-color: var(--shades-pitch);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.list {
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-size: var(--regular-description-size);
  color: var(--shades-carbon);
  font-family: var(--font-fira-code);
}
