.expandedMenu2 {
  align-self: stretch;
  border-left: 1px solid var(--shades-dark-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.tab2 {
  align-items: flex-end;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
}
.expandedMenu1,
.tab1,
.tab2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.expandedMenu1 {
  border-left: 1px solid var(--shades-dark-1);
  align-items: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.tab1 {
  align-items: flex-end;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
}
.expandedMenu {
  align-self: stretch;
  border-left: 1px solid var(--shades-dark-1);
  align-items: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.expandedMenu,
.sidebarMenu,
.tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tab {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
}
.sidebarMenu {
  width: 276px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-base) 1828px;
  box-sizing: border-box;
}
.divider {
  height: 2752px;
  width: 1px;
  position: relative;
  border-right: 1.5px solid var(--shades-dark-1);
  box-sizing: border-box;
}
.ibcChannels,
.previous {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 18px;
}
.ibcChannels {
  font-size: var(--sub-titles-sub-title-4-size);
  letter-spacing: -0.02em;
  line-height: 22px;
  font-weight: 500;
  font-family: var(--regular-label);
  color: var(--primary-green);
}
.card,
.copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.copy {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.card {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--shades-pitch);
  padding: var(--padding-base);
  box-sizing: border-box;
  min-width: 291px;
  max-width: 100%;
}
.ibcSmartContract,
.next {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 18px;
}
.ibcSmartContract {
  font-size: var(--sub-titles-sub-title-4-size);
  letter-spacing: -0.02em;
  line-height: 22px;
  font-weight: 500;
  font-family: var(--regular-label);
  color: var(--primary-green);
}
.card1,
.copy1,
.ctas {
  display: flex;
  justify-content: flex-start;
}
.copy1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.card1,
.ctas {
  max-width: 100%;
}
.card1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--shades-pitch);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-base);
  box-sizing: border-box;
  min-width: 291px;
  text-align: right;
}
.ctas {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-21xl);
  gap: var(--gap-21xl);
}
.body,
.ctas,
.divider1 {
  box-sizing: border-box;
}
.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  min-width: 580px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--overline-footer-size);
  color: var(--shades-light);
  font-family: var(--overline-footer);
}
.divider1 {
  height: 2752px;
  width: 1px;
  position: relative;
  border-right: 1.5px solid var(--shades-dark-1);
  opacity: 0;
}
.label,
.tab3 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.label {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
}
.tab3 {
  flex: 0.5556;
  border-radius: var(--br-5xs);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  color: var(--primary-green);
}
.expandedMenu3,
.label1,
.tab4 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.label1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  align-items: center;
}
.expandedMenu3,
.tab4 {
  justify-content: flex-start;
}
.tab4 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) 0;
}
.expandedMenu3 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
}
.label2,
.tab5 {
  align-items: center;
}
.label2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: flex;
}
.tab5 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.expandedMenu4,
.label3,
.tab5 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.expandedMenu4 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.label3 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  align-items: center;
}
.expandedMenu5,
.sidebarMenu1,
.tab6 {
  display: flex;
  justify-content: flex-start;
}
.tab6 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) 0;
}
.expandedMenu5,
.sidebarMenu1 {
  flex-direction: column;
}
.expandedMenu5 {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
}
.sidebarMenu1 {
  height: 192px;
  width: 272px;
  align-items: flex-end;
  padding: var(--padding-5xl) var(--padding-base);
  box-sizing: border-box;
  opacity: 0;
}
.apiList,
.cousinTwiceRemovedNodes {
  display: flex;
  align-items: flex-start;
}
.cousinTwiceRemovedNodes {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  row-gap: 20px;
  text-align: left;
  font-size: var(--regular-description-size);
  color: var(--shades-light);
  font-family: var(--regular-label);
}
.apiList {
  width: 100%;
  position: relative;
  background-color: var(--shades-solid);
  flex-direction: column;
  justify-content: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .sidebarMenu {
    padding-top: var(--padding-xl);
    padding-bottom: 772px;
    box-sizing: border-box;
  }
  .divider,
  .divider1 {
    display: none;
    width: 100px;
    height: 1.5px;
    border-top: 1.5px solid var(--shades-dark-1);
    box-sizing: border-box;
  }
  .cousinTwiceRemovedNodes {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .sidebarMenu {
    padding-bottom: 502px;
    box-sizing: border-box;
  }
  .ctas {
    flex-wrap: wrap;
  }
  .body {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .ctas {
    gap: 40px 20px;
  }
}
