.divider {
  width: 1441px;
  position: relative;
  border-top: 1px solid var(--shades-dark-1);
  box-sizing: border-box;
  height: 1px;
}
.expandedMenu1,
.expandedMenu2,
.tab2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.expandedMenu2 {
  border-left: 1px solid var(--shades-dark-1);
  align-items: flex-start;
  padding: 0 0 0 var(--padding-5xs);
}
.expandedMenu1,
.tab2 {
  align-items: flex-end;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
}
.expandedMenu1 {
  border-left: 1px solid var(--shades-dark-1);
  align-items: flex-start;
  padding: 0 0 0 var(--padding-5xs);
}
.tab1 {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
}
.expandedMenu,
.sidebarMenu,
.tab,
.tab1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.expandedMenu {
  width: 228px;
  border-left: 1px solid var(--shades-dark-1);
  box-sizing: border-box;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-5xs);
}
.sidebarMenu,
.tab {
  align-items: flex-end;
}
.tab {
  align-self: stretch;
  padding: var(--padding-5xs) 0 var(--padding-5xs) var(--padding-base);
}
.sidebarMenu {
  padding: var(--padding-5xl) var(--padding-base);
}
.divider1 {
  width: 1px;
  border-right: 1px solid var(--shades-dark-1);
  box-sizing: border-box;
}
.copy1,
.createNonFungibleToken,
.divider1 {
  align-self: stretch;
  position: relative;
}
.createNonFungibleToken {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-weight: 500;
  background: linear-gradient(180deg, #fff, #666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.copy1 {
  letter-spacing: -0.01em;
  line-height: 28px;
}
.copy,
.introduction {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.copy {
  font-size: var(--regular-label-size);
  font-family: var(--overline-footer);
}
.introduction {
  gap: var(--gap-21xl);
  font-size: var(--sub-titles-subtitle-1-size);
  color: var(--shades-light);
}
.header {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 30px;
  font-weight: 500;
}
.hereopenInNew {
  color: inherit;
}
.completeCodeWithGomodFile,
.psIfYou {
  margin: 0;
}
.copy3,
.copy4 {
  align-self: stretch;
}
.copy4 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
}
.copy3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--regular-label-size);
  color: var(--shades-light);
  font-family: var(--overline-footer);
}
.copy2 {
  gap: var(--gap-xs);
}
.copy2,
.section,
.section1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.copy5,
.header1 {
  align-self: stretch;
}
.header1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 30px;
  font-weight: 500;
}
.copy5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.preparingTestAccount {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 22px;
  font-weight: 500;
}
.beforeYouMay,
.blankLine,
.blankLine1,
.inResponseYou,
.toGetFunded {
  margin: 0;
}
.copy8 {
  align-self: stretch;
  position: relative;
  font-size: var(--regular-description-size);
  letter-spacing: -0.01em;
  line-height: 24px;
  font-family: var(--overline-footer);
  color: var(--shades-light);
}
.copy7 {
  gap: var(--gap-xs);
}
.copy6,
.copy7,
.subSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.subSection {
  border-radius: var(--br-xs);
}
.copy6 {
  font-size: var(--sub-titles-sub-title-4-size);
}
.section2 {
  gap: var(--gap-21xl);
}
.section2,
.section3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.copy11,
.header2 {
  align-self: stretch;
  position: relative;
}
.header2 {
  letter-spacing: -0.02em;
  line-height: 30px;
  font-weight: 500;
}
.copy11 {
  letter-spacing: -0.01em;
  line-height: 28px;
}
.copy10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--regular-label-size);
  color: var(--shades-light);
  font-family: var(--overline-footer);
}
.copy10,
.copy13,
.copy9 {
  align-self: stretch;
}
.copy9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.copy13 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 28px;
}
.p,
.p1,
.p2,
.p3,
.p4,
.p5 {
  margin: 0;
}
.div {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.copy14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  z-index: 0;
}
.dividerIcon {
  align-self: stretch;
  width: 0;
  position: relative;
  max-height: 100%;
  z-index: 1;
}
.coredTxBank {
  margin: 0;
  color: var(--primary-dim);
}
.createValidatorCreateNew {
  margin: 0;
}
.delegate,
.editValidator,
.redelegate,
.unbond {
  margin: 0;
  white-space: pre-wrap;
}
.coredTxBankContainer {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.copy15 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  z-index: 2;
  text-align: left;
}
.scrollbarIcon {
  width: 720px;
  position: absolute;
  margin: 0 !important;
  height: calc(100% - 170px);
  top: 162px;
  bottom: 8px;
  left: 80px;
  max-height: 100%;
  object-fit: contain;
  z-index: 3;
}
.card,
.list {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.card {
  border-radius: var(--br-xs);
  background-color: var(--shades-pitch);
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: var(--gap-xs);
}
.list {
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-size: var(--regular-description-size);
  color: var(--shades-carbon);
  font-family: var(--font-fira-code);
}
.copy12 {
  gap: var(--gap-5xl);
}
.content,
.copy12,
.section4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.section4 {
  gap: var(--gap-21xl);
  font-size: var(--regular-label-size);
  color: var(--shades-light);
  font-family: var(--overline-footer);
}
.content {
  padding: var(--padding-5xl) var(--padding-21xl) var(--padding-61xl);
  gap: var(--gap-61xl);
}
.createFungibleToken,
.previous {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 18px;
}
.createFungibleToken {
  font-size: var(--sub-titles-sub-title-4-size);
  letter-spacing: -0.02em;
  line-height: 22px;
  font-weight: 500;
  font-family: var(--regular-label);
  color: var(--primary-green);
}
.card1,
.copy16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.copy16 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.card1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--shades-pitch);
  padding: var(--padding-base);
}
.next,
.sendMultisigTransaction {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 18px;
}
.sendMultisigTransaction {
  font-size: var(--sub-titles-sub-title-4-size);
  letter-spacing: -0.02em;
  line-height: 22px;
  font-weight: 500;
  font-family: var(--regular-label);
  color: var(--primary-green);
  text-decoration: none;
}
.copy17 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.body1,
.card2,
.copy17,
.ctas {
  display: flex;
  justify-content: flex-start;
}
.card2 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--shades-pitch);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-base);
  opacity: 0;
  text-align: right;
}
.body1,
.ctas {
  align-items: flex-start;
}
.ctas {
  width: 896px;
  flex-direction: row;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  font-size: var(--overline-footer-size);
  color: var(--shades-light);
  font-family: var(--overline-footer);
}
.body1 {
  flex: 1;
  flex-direction: column;
}
.divider2 {
  align-self: stretch;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--shades-dark-1);
  box-sizing: border-box;
}
.label {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
}
.tab3 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.label1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
}
.tab5 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.label2 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
}
.tab6 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.label3 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
}
.tab7 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.label4 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
}
.tab8 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.label5 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
}
.tab9 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.label6 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
}
.tab10 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.label7 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
}
.tab11 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.expandedMenu3,
.tab4 {
  align-self: stretch;
  flex-direction: column;
}
.expandedMenu3 {
  border-left: 1px solid var(--shades-dark-1);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-base);
}
.tab4 {
  align-items: flex-end;
  padding: 0 0 0 var(--padding-5xs);
  color: var(--shades-light);
}
.body,
.sidebarMenu1,
.tab4 {
  display: flex;
  justify-content: flex-start;
}
.sidebarMenu1 {
  width: 272px;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-5xl) var(--padding-base);
  box-sizing: border-box;
  font-size: var(--regular-description-size);
  color: var(--primary-green);
}
.body {
  width: 1440px;
  flex-direction: row;
  align-items: flex-start;
}
.divider3 {
  width: 1441px;
  position: relative;
  border-top: 1px solid var(--shades-dark-1);
  box-sizing: border-box;
  height: 1px;
}
.smartFtWithAccessControlL {
  position: relative;
  background-color: var(--shades-solid);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--sub-titles-sub-title-2-size);
  color: var(--primary-off-white);
  font-family: var(--regular-label);
}
